

.display-wrapper {
    height: 600px;
    margin-bottom: 13rem;
    margin-top: 8rem;
}


.media-wrapper {
    float: left;
    height: 600px;
    width: 600px;
    padding-left: 76px;
    padding-top: 4rem;
}


/*  **************** Content Wrapper **************** */

.content-wrapper {
    float: right;
    height: 600px;
    width: 600px;
    color: whitesmoke;
    background-color: #A9ADB0;
    padding-top: 200px;
    padding-right: 30px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
} 

.content-wrapper {
    float: right;
    text-align: left;
    width: 50%;
    color: whitesmoke;
    background-color: #A9ADB0;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    padding-top: 10rem;
    padding-left: 7rem;
    
} 


.content-wrapper h2 {
    font-size: 15px
}


.content-wrapper p {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}
