/* .App {
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    background-color: #101010;
    float: left;
    width: 50%;
    color: whitesmoke;
    background-color: #101010;
    font-family: Montserrat, sans-serif;
    font-size: 16px;;
    overflow: hidden;
} */