/* 
$color1: hsla(301%, 89%, 76%, 1); Pink
$color2: hsla(0%, 0%, 100%, 1); White
$color3: hsla(0%, 0%, 6%, 1); Black
$color4: hsla(348%, 88%, 94%, 1); Red
$color5: hsla(215%, 89%, 100%, 1); Blue
/* RGB 
$color1: rgba(193, 22, 190, 1); Pink
$color2: rgba(255, 255, 255, 1); White
$color3: rgba(16, 16, 16, 1); Black
$color4: rgba(239, 28, 69, 1); Red
$color5: rgba(29, 124, 255, 1); Blue

/* HEX 
$color1: #c116beff; Pink
$color2: #ffffffff; White
$color3: #101010ff; Black
$color4: #ef1c45ff; Red
$color5: #1d7cffff; Blue

*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    background-color: #101010;
}

/* Animation
----------------------------------------------- */

@keyframes hover-change {
    0%   {opacity: 0;}
    25%  {opacity: 25;}
    50%  {opacity: 50}
    75%  {opacity: 75;}
    100% {opacity: 100;}
  }


/* Header
----------------------------------------------- */


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    color: #101010;
    background-color: white;
}

.nav_links {
    list-style: none;
    background-color: white;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
    background-color: white;
}

.nav_links a {
    transition: all 0.3s ease 0;
    background-color: white;
}

.nav_links a:active {
    transition: all 0.3s ease 0;
}

.nav_links li a:hover {
    color: paleturquoise;
}

li, a, button {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #101010;
    background-color: white;
    text-decoration: none;
}

header h1, header span, header img{
    font-family: Montserrat, sans-serif;
    font-weight: 450;
    font-size: 14px;
    color: #101010;
    background-color: white;
    cursor: none;
    justify-content: start;
}


header img {
    margin-left: -910px;
}

/* Body
----------------------------------------------- */
