/* 
$color1: hsla(301%, 89%, 76%, 1); Pink
$color2: hsla(0%, 0%, 100%, 1); White
$color3: hsla(0%, 0%, 6%, 1); Black
$color4: hsla(348%, 88%, 94%, 1); Red
$color5: hsla(215%, 89%, 100%, 1); Blue
/* RGB 
$color1: rgba(193, 22, 190, 1); Pink
$color2: rgba(255, 255, 255, 1); White
$color3: rgba(16, 16, 16, 1); Black
$color4: rgba(239, 28, 69, 1); Red
$color5: rgba(29, 124, 255, 1); Blue

/* HEX 
$color1: #c116beff; Pink
$color2: #ffffffff; White
$color3: #101010ff; Black
$color4: #ef1c45ff; Red
$color5: #1d7cffff; Blue
color6: #A9ADB0; Silver Challice

*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    background-color: #A9ADB0;
}

/* Animation
----------------------------------------------- */

@keyframes hover-change {
    0%   {opacity: 0;}
    25%  {opacity: 25;}
    50%  {opacity: 50}
    75%  {opacity: 75;}
    100% {opacity: 100;}
  }
